# -----------------------------------------------------------------------------
# The following example accepts existing keyset names for provider credentials
# and SSH keys.
# -----------------------------------------------------------------------------

# -----------------------------------------------------------------------------
# Deploy AWS cluster
# -----------------------------------------------------------------------------
module "aws_cluster" {
  source = "github.com/StackPointCloud/tf_nks"

  provider_code        = "aws"
  cluster_name         = "TF Test 1"
  kubeconfig_path      = "./kubeconfig-aws"
  provider_keyset_name = "My AWS KeySet"
  ssh_keyset_name      = "My SSH Keyset"
  region               = "us-east-2"
  zone                 = "us-east-2a"
  master_size          = "t2.medium"
  worker_size          = "t2.medium"
}

output "aws_nodes" {
  value = "${module.aws_cluster.nodes}"
}

# -----------------------------------------------------------------------------
# Deploy Azure cluster
# -----------------------------------------------------------------------------
module "azure_cluster" {
  source = "github.com/StackPointCloud/tf_nks"

  provider_code         = "azure"
  cluster_name          = "TF Test 2"
  kubeconfig_path       = "./kubeconfig-azure"
  provider_keyset_name  = "My Azure Keyset"
  ssh_keyset_name       = "My SSH Key"
  region                = "eastus"
  master_size           = "standard_f2"
  worker_size           = "standard_f2"
}

output "azure_nodes" {
  value = "${module.azure_cluster.nodes}"
}
